# Project exclude paths
/eurekaclient/target/
/eurekaserver/target/
/fegin/target/
/hystrix/target/
/nativeconfigclient/target/
/nativeconfigserver/target/
/resttemplate/target/
/ribbon/target/
/zuul/target/